.header-content{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

header{
    max-width: 100%;
    width:auto;
    height:auto;
    background: #ffffff;
    /*background:*/
    /*    linear-gradient(*/
    /*        to bottom, */
    /*        #A4BDC0,*/
    /*        #A4BDC0 55%,*/
    /*        #729BA6 55%,*/
    /*        #729BA6 62%,*/
    /*        #5D848C 62%,*/
    /*        #5D848C 85%,*/
    /*        #729BA6 15%*/
    /*);*/
    background-repeat: no-repeat;
}

.header-content {
     padding: 0;
}

.landing-heading, .landing-description {
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .landing-heading {
        font-weight: 300;
        font-size: 30px;
    }

    .landing-description {
        font-weight: 300;
        font-size: 24px;
    }
}

@media screen and (min-width: 1000px) {
    .landing-description {
         width:1000px;
         margin:auto;
    }
}

@keyframes slideLeft {

    0%{
        transform: translate(20%, -15%) scale(0.5);
    }
    to{
        transform: translate(-70%, 30%) scale(1.0);
    }
    0% {opacity: 0.0}
    5% {opacity: 1.0}
    90% {opacity: 1.0}
    100% {opacity: 0.0}
}

@keyframes ad_invisible {
    0% {opacity: 0.0}
    20% {opacity: 0.0}
    30% {opacity: 1.0}
    35% {opacity: 1.0}
    40% {opacity: 0.0}
    100% {opacity:0.0}

}

@keyframes blob_invisible {
    0% {opacity: 0.0}
    40% {opacity: 0.0}
    50% {opacity: 1.0}
    60% {opacity: 1.0}
    70% {opacity: 0.0}
    100% {opacity:0.0}

}

@keyframes pred_invisible {
    0% {opacity: 0.0}
    65% {opacity: 0.0}
    75% {opacity: 1.0}
    90% {opacity: 1.0}
    100% {opacity:0.0}

}

#drone_ANIMATION {
    animation: slideLeft 20s linear infinite;
    transform-origin: 50% 50%;
    position: absolute;
}

#admirant__ANIMATION {
    animation: ad_invisible 20s linear infinite;
    opacity: 0.0;

}

#blob_ANIMATION {
    animation: blob_invisible 20s linear infinite;
    opacity: 0.0;
}
#prediction_ANIMATION {
    animation: pred_invisible 20s linear infinite;
    opacity: 0.0;
}

.landing-pitch {
    background: rgba(118,214,255,0.35);
    text-align: center;
    color: #006199;
}

.btn-pitch.btn-outline {
    color: #006199;
}

.btn-pitch.btn-outline {
    color: #006199;
    border-color: #006199;
}

* {
    transition: all 0.25s ease;
}

svg:not(:root){
    position: relative;
    left: 0; 
    top: 0;
}

@media screen and (max-width: 988px) {
    
    #About {
        transform:  translateX(360px)
                    translateY(840px);
    }
   
    #Mission {
        transform:  translateX(780px)
                    translateY(540px);
    }

    #Approach {
        transform:  translateX(1200px)
                    translateY(240px);
    }
    
    #Tekst {
        transform: translateX(-225px);
    } 
    
    #Agents {
        transform: translateX(-225px);
    } 
    #Crossroad {
        transform: translateX(-225px);
    }
}

.home-section:first-of-type {
    padding: 30px 0 60px 0;
}
.sponsors {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
}

.open-positions-row {
    background-color: #a00;
    border-width: .03em 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
}

a.open-positions {
    content: attr(data-ribbon);
    color: #fff;
    font: 400 1.5em "Lato", Helvetica, Arial, sans-serif;
}