<div class="hidden-xs">
      <div class="container">

      <div class="landing-pitch-md">
            <div class="container">
            <div class="row">
<!--                  <div class="col-md-12">-->
<!--                        <div class="container">-->
                        {{ with .Site.Params.landing_heading }}<h1 class="landing-heading">{{.}}</h1>{{end}}
                        {{ with .Site.Params.landing_description }}<h2 class="landing-description"> {{.}} </h2>{{end}}
                  <a class="btn btn-pitch btn-outline" href="/about">Find out more</a>
<!--                        </div>-->
<!--                  </div>-->
            </div>
            </div>
      </div>
      </div>
</div>
<div class="landing-pitch-xs">
      <div class="visible-xs">
            <div class="container">
            <div class="row">
                  {{ with .Site.Params.landing_heading }}<h1 class="landing-heading">{{.}}</h1>{{end}}
                  {{ with .Site.Params.landing_description }}<h2 class="landing-description"> {{.}} </h2>{{end}}
                  <a class="btn btn-pitch btn-outline" href="/about">Find out more</a>
            </div>
            </div>
      </div>
</div>
<header class="space-below ">
      <div class="header-content">
        {{partial "banner.html" .}}
      </div>
</header>

</div>