

<div class="landing-pitch">
<!--  <div class="container">-->
<!--    <div class="row">-->
      {{ with .Site.Params.landing_heading }}<h1 class="landing-heading">{{.}}</h1>{{end}}
      {{ with .Site.Params.landing_description }}<h2 class="landing-description"> {{.}} </h2>{{end}}
      <a class="btn btn-pitch btn-outline" href="/about">Find out more</a>
<!--    </div>-->
<!--  </div>-->
</div>
  
<header class="space-below ">
<!--  <div class="container">-->
<!--    <div class="row">-->
      <div class="header-content">
<!--          <div class="landing-pitch">-->
<!--                      {{ with .Site.Params.landing_heading }}<h1 class="landing-heading">{{.}}</h1>{{end}}-->
<!--                      {{ with .Site.Params.landing_description }}<h2 class="landing-description"> {{.}} </h2>{{end}}-->
<!--                      <a class="btn btn-pitch btn-outline" href="/about">Find out more</a>-->
<!--          </div>-->
        {{partial "banner.html" .}}
      </div>
<!--    </div>-->
<!--  </div>-->
</header>
